<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.bookstore.cate.mapper.GoodsCateMapper">
    <resultMap id="resultGoods" type="com.neusoft.bookstore.cate.model.GoodsCate">
        <id column="id" property="id"/>
        <result column="cate_name" property="cateName"/>
        <result column="parent_cate_id" property="parentCateId"/>
        <result column="cate_level" property="cateLevel"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <sql id="Goods">
        cate_name,parent_cate_id,cate_level,remark,is_deleted,sort_no,gmt_create,create_by,
        gmt_modified,last_modified_by,version
    </sql>
    <insert id="saveGoods">
        insert into t_goods_cate
        (<include refid="Goods"/>)
        values (
        #{cateName},#{parentCateId},#{cateLevel},#{remark},0,1,now(),#{createBy},
        now(),#{createBy},1
        )
    </insert>
    <select id="getGoodsNameCount" resultType="int">
        select count(*)
        from t_goods_cate
        where cate_name = #{cateName}
        <if test="null != id">
            and id !=#{id}
        </if>
    </select>
    <update id="updateGoods">
        update t_goods_cate
        set cate_name=#{cateName},remark=#{remark},gmt_modified=now(),last_modified_by=#{lastModifiedBy}
        where id=#{id}
    </update>
    <select id="listChildGoods" resultType="int">
        select count(*)
        from t_goods_cate
        where parent_cate_id=#{id}
    </select>
    <delete id="deleteGoods">
        delete from t_goods_cate
        where id = #{id}
    </delete>
    <select id="listGoods" resultMap="resultGoods">
        select id,<include refid="Goods"/>
         from t_goods_cate
    </select>
    <select id="listOneLevelGoods" resultMap="resultGoods">
        select id,cate_name
        from t_goods_cate
        where cate_level = 1
    </select>

    <select id="listTwoLevelGoods" resultMap="resultGoods">
        select id,cate_name
        from t_goods_cate
        where parent_cate_id =#{id}
    </select>
</mapper>
